header#main-header{
    height: 100%;
    width: 60px;
    background-color: #da552f;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}